<div class="container-fluid" style="height:89%;">
    <div class="row fullHeight">
        <div class="col-md-3 leftTodo">
            <div class="topMargin15">
                <mat-card>
                    <form>
                        <mat-form-field appearance="outline">
                            <mat-label>Task Name:</mat-label>
                            <input matInput placeholder="Example: Coding Frontend">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Add task name</mat-hint>
                        </mat-form-field>
                        <button mat-raised-button extended color="primary">
                            Add
                        </button>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9 rightTodo"></div>
    </div>
</div>